<div class="container">
  {{#if posts.length}}
  <section>
    <h2>My Posts</h2>
    <ul class="post-list">
      {{#each posts as |post|}}
      <li>
        {{> dashboard-post-details post}}      
      </li>
      {{/each}}
    </ul>
  </section>
  {{else}}
  <section class="py-3">
    <h5 class="text-secondary">I haven't made any posts yet.</h5>
  </section>
  {{/if}}

  <a href="/dashboard/new"><button type="submit" class="btn btn-primary">Add New Post</button></a>

</div>