<form class="login-form">
  <h2>Login</h2>
  <div>
    <label for="login-username">Username:</label>
    <input type="text" id="login-username" />
  </div>
  <div>
    <label for="login-password">Password:</label>
    <input type="password" id="login-password" />
  </div>
  <div>
    <button type="submit">Login</button>
  </div>
</form>

<form class="signup-form">
  <h2>Sign Up</h2>
  <div>
    <label for="signup-username">Username:</label>
    <input type="text" id="signup-username" />
  </div>
  <div>
    <label for="signup-password">Password:</label>
    <input type="password" id="signup-password" />
  </div>
  <div>
    <button type="submit">Sign up</button>
  </div>
</form>
<script src="/js/login.js"></script>