<div class="container-md">
  <div class="row gx-5">
    <form id="login-form" class="col-6">
      <h2>Login</h2>
      <div>
        <label for="login-username" class="form-label">Username:</label>
        <input type="text" id="login-username" class="form-control" />
      </div>
      <div>
        <label for="login-password" class="form-label">Password:</label>
        <input type="password" id="login-password" class="form-control" />
      </div>
      <div>
        <button type="submit">Login</button>
      </div>
    </form>

    <form id="signup-form" class="col-6">
      <h2>Sign Up</h2>
      <div>
        <label for="signup-username" class="form-label">Username:</label>
        <input type="text" id="signup-username" class="form-control" />
      </div>
      <div>
        <label for="signup-password" class="form-label">Password:</label>
        <input type="password" id="signup-password" class="form-control" />
      </div>
      <div>
        <button type="submit">Sign up</button>
      </div>
    </form>
  </div>
</div>
<script src="/js/login.js"></script>