<section class="container">
  <h2>Create New Post</h2>

  <form id="new-post-form" class="">
    <div class="py-2">
      <label for="post-title" class="align-top">Title</label>
      <input
        type="text"
        id="post-title"
        name="post-title"
        placeholder="New Post Title"
      />
    </div>
    <div class="py-2">
      <label for="post-text" class="align-top">Post</label>
      <textarea
        id="post-text"
        name="post-text"
        class="form-control"
        placeholder="Your new post here!"
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary my-2">Create</button>
  </form>
</section>

<script src="/js/new-post.js"></script>