{{> post-details post}}

{{> comments post.comments}}

{{#if loggedIn}}
<div class="container">
  <form id="comment-form" class="row pt-2">
    <div class="col-2">
      <button type="submit" class="btn btn-primary">Add Comment</button>    
    </div>
    <div class="col-10">
      <textarea name="comment-body" class="form-control form-control-sm" placeholder="Enter your new comment here!"></textarea>
    </div>

  </form>
</div>
{{/if}}

{{#if loggedIn}}
<script src="/js/new-comment.js"></script>
{{/if}}