<section class="container">
  <h2>Update Post</h2>

  <form id="update-post-form">
    <div class="py-2">
      <label for="post-title" class="align-top">Title</label>
      <input
        type="text"
        id="post-title"
        name="post-title"
        value="{{post.title}}"
      />
    </div>
    <div>
      <label for="post-text" class="align-top">Post</label>
      <textarea
        id="post-text"
        name="post-text"
        class="form-control"
      >{{post.post_text}}</textarea>
    </div>
    <div class="pt-3">
      <button
        type="submit"
        id="update-post-btn"
        class="btn btn-primary"
      >Update with Changes</button>
      <button
        type="button"
        id="delete-post-btn"
        class="btn btn-danger"
      >Delete this post</button>
    </div>
  </form>
</section>

<script src="/js/update-post.js"></script>
<script src="/js/delete-post.js"></script>