/* customized styling */
:root {
  --red: rgb(237, 141, 141);
  --green: rgb(174, 218, 174);
  --shadow: darkgray;
  --button: rgb(9, 113, 113);
}

.blog-link {
  color: cornflowerblue;
}

.blog-link:hover {
  color: cadetblue;
}

textarea .form-control {
  height: 20vh;
}
